/* #region RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* #endregion /RESET */

/* #region DEBUG */

.debug {
    border: 2px dashed red;
}
/* #endregion /DEBUG */

/* #region HEADER */
header {
    background-color: #ff6900;
}